.color-picker {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.color-button {
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}
.custom-color-picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.custom-color-picker::-webkit-color-swatch {
  border-radius: 15px;
  border: none;
}

.custom-color-picker::-moz-color-swatch {
  border-radius: 15px;
  border: none;
}
