/* Styles for the <h1> */
h1 {
  color: black;
  margin: 0; /* remove any default margin */
  padding: 20px;
  font-size: 24px;
  text-align: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: floralwhite;
}

/* Video editor container */
.video-editor {
  display: flex;
  flex-direction: row;
  height: 85vh;
  margin: 0px 20px 0px 270px;
  padding: 20px;
  background-color: beige;
  border-radius: 20px;
}

.resolution-group {
  display: inline-flex;
  flex-direction: row;
  border: 1px solid #cccccc;
  border-radius: 4px;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.resolution-button {
  padding: 10px 16px;
  outline: none;
  border: none;
  cursor: pointer;
  border-right: 1px solid #cccccc;
  background: #eeeeee;
}
.resolution-button:hover {
  background: #dddddd;
}
.resolution-button.selected {
  background: #c2c1db;
}
.resolution-button:last-child {
  border-right: none;
}

#canvas {
  width: 80%;
  aspect-ratio: 9/16;
  border-radius: 20px;
}
.animation-column {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.config-column {
  display: flex;
  flex-direction: column;
}
#animation-form {
  display: flex;
  flex-direction: column;
}
